.panel {
  width: 100%;
  color: $text-dark;
  padding: 0 $padding-min;
  background-color: $color-background-light;
  border-radius: $border-radius-l $border-radius-l 0 0;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  transition: top 0.3s ease-in-out;
  display: flex;

  &.cart {
    z-index: 100;
  }

  &.product {
    top: 140px;
  }

  &.hidden {
    top: 100vh;
  }
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3em;
  font-size: 1.2em;
}
