.panel {
  width: 100%;
  color: $text-dark;
  padding: 0 $padding-min;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    0deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: $border-radius-l $border-radius-l 0 0;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-direction: column;

  &.cart {
    z-index: 100;
  }

  &.product {
    min-height: calc(100vh - 110px);
    top: 110px;
  }

  &.hidden {
    top: 100vh;
  }
}

.totals {
  margin-bottom: 0.5em;
}

.total-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.cart-items-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  overflow-y: scroll;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  img {
    width: 80px;
    border-radius: $border-radius-s;
  }

  .cart-item-body {
    flex-grow: 1;
    padding: 0.5em 0 0.5em 0.5em;
    display: flex;
    flex-direction: row;

    .card-item-main {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 80%;

      span {
        font-weight: bolder;
      }
    }
  }
}
