header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: $color-background-dark;
  color: $text-light;
  padding: $padding-std;
}

.nav-location {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .nav-location-title {
    font-weight: lighter;
  }

  .nav-location-place {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;

    i {
      color: $color-primary;
    }
  }
}

.subheader {
  padding: 0 $padding-std;
  height: 40px;
  color: $text-light;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ri-shopping-cart-line {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.7em;
  background-color: $color-primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-dark;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}