.order-items-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.order-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 0.5em;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: $border-radius-s;
  }

  .order-item-body {
    flex-grow: 1;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    .order-item-main {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
    }

    .order-item-quantity {
      width: 20px;
      flex-shrink: 0;
      color: $text-secondary;
      text-align: center;
    }

    .order-item-price {
      width: 55px;
      flex-shrink: 0;
      text-align: end;
    }
  }
}

.order-table-headers {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px dashed rgba($text-secondary, 0.5);

  #name {
    flex-grow: 1;
  }

  #qty {
    width: 25px;
    flex-shrink: 0;
  }

  #total {
    width: 55px;
    flex-shrink: 0;
    text-align: end;
  }
}

.panel-header {
  &.order {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}
