.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: $border-radius-m;
  padding: 0.7em;
  gap: 1em;

  img {
    width: 120px;
    border-radius: $border-radius-m;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;

  .card-main {
    flex-grow: 1;
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-cost {
    font-weight: bold;
    font-size: 1.3em;
  }
}

.type-span {
  background-color: $color-tag;
  border-radius: $border-radius-s;
  font-size: 0.8em;
  padding: 0.5em 1em;
}
