.product-details-img {
  object-fit: cover;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: $border-radius-l;
}

.product-details {
  overflow: hidden;
  overflow-y: scroll;
}

.product-dummy {
  height: calc(35px + 2.5em);
}

.product-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 1em;
  padding: 0 0.5em;
  left: 0;
}
