.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: $border-radius-m;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.04);
  padding: 0.7em;
  gap: 0.7em;

  img {
    min-width: 100px;
    max-width: 100px;
    height: 100%;
    object-fit: cover;
    border-radius: $border-radius-m-inner;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;

  .card-main {
    flex-grow: 1;
  }

  .card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .card-cost {
    font-weight: bold;
    font-size: 1.3em;

    &.small {
      font-size: 1.1em;
    }
  }
}

.type-span {
  background-color: $color-tag;
  border-radius: $border-radius-s;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

.current-qty {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
