// Color
$color-primary: #e8b225;
$color-secondary: #2a2a2a;
$color-background-dark: #111111;
$color-background-light: #eeeeee;
$color-tag: #f3ecdc;
$color-gray: #f5f3ef;

// Text
$text-light: whitesmoke;
$text-dark: rgb(19, 19, 19);

// Indents
$padding-std: 1em;
$padding-min: 0.5em;
$border-radius-l: 40px;
$border-radius-m: 20px;
$border-radius-s: 10px;
