header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #111111;
  color: whitesmoke;
  padding: 1em;
}

.nav-location {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.nav-location .nav-location-title {
  font-weight: lighter;
}
.nav-location .nav-location-place {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.nav-location .nav-location-place i {
  color: #e8b225;
}

.subheader {
  padding: 0 1em;
  height: 40px;
  color: whitesmoke;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.ri-shopping-cart-line {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 0.7em;
  background-color: #e8b225;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(19, 19, 19);
}

/** 
* scrollbars mixin
 * @param  {size}                Scrollbar handler width & height
 * @param  {foreground-color}    Scrollbar foreground color
 * @param  {background-color}    Scrollbar background color
* 
* @example - @include scrollbars(10px, pink, red);
*/
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
}

hr {
  color: #e8b225;
  width: 100%;
}

h2 {
  margin-top: 0.4em;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

h3 {
  margin: 0.6em 0 0.4em 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
}

main {
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 0 0.5em;
  background-color: #eeeeee;
  border-radius: 30px 30px 0 0;
  max-height: calc(100vh - 70px);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: -webkit-fill-available;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  width: 100%;
  overflow-x: auto;
  flex-shrink: 0;
}
.categories-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.categories-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.categories-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.categories-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}

.content-wrapper {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.content-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.content-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.content-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}
.content-wrapper.empty {
  justify-content: center;
  align-items: center;
}

.panel-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: whitesmoke;
}
button.menu {
  position: relative;
  border-radius: 50%;
  background-color: #2a2a2a;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
}
button.btn-panel {
  border-radius: 50%;
  background-color: #e1e1e1;
  color: rgb(19, 19, 19);
  width: 40px;
  height: 40px;
  font-size: 1.2em;
}
button.btn-panel.absolute {
  position: absolute;
  top: 0.7em;
  right: 0.3em;
}
button.btn-add {
  border-radius: 50%;
  background-color: #e8b225;
  max-width: 35px;
  max-height: 35px;
  width: 35px;
  height: 35px;
  font-size: 1.4em;
}
button.btn-primary {
  border-radius: 20px;
  background-color: #e8b225;
  text-transform: uppercase;
  font-weight: 600;
  height: 35px;
  font-size: 0.9em;
  width: 70%;
}

.btn-addRemove {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 0;
  color: whitesmoke;
  background-color: #e8b225;
  height: 35px;
  padding: 0 0.5em;
  gap: 5px;
}
.btn-addRemove button {
  background-color: transparent;
  color: whitesmoke;
  border: 0;
  font-size: 1.4rem;
}

.action-link {
  color: #e8b225;
  font-weight: 500;
  text-decoration: underline;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  padding: 0.7em;
  gap: 1em;
}
.product-card img {
  width: 120px;
  border-radius: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-body .card-main {
  flex-grow: 1;
}
.card-body .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-body .card-cost {
  font-weight: bold;
  font-size: 1.3em;
}

.type-span {
  background-color: #f3ecdc;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

.current-qty {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  font-weight: bolder;
}
.card-cat .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.card-cat img {
  width: 100%;
}

.panel {
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 0 0.5em;
  background-color: #eeeeee;
  border-radius: 30px 30px 0 0;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
.panel.cart {
  z-index: 100;
}
.panel.product {
  min-height: calc(100vh - 110px);
  top: 110px;
}
.panel.hidden {
  top: 100vh;
}

.totals {
  margin-bottom: 0.5em;
}

.total-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
}

.cart-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
}

.cart-item {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.cart-item img {
  width: 80px;
  border-radius: 10px;
}
.cart-item .cart-item-body {
  flex-grow: 1;
  padding: 0.5em 0 0.5em 0.5em;
  display: flex;
  flex-direction: column;
}
.cart-item .cart-item-body .card-item-main {
  margin: 0;
  margin-bottom: 0.5em;
}

.product-details {
  flex-grow: 1;
}

.product-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-details-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 25px;
}

.product-details {
  overflow: hidden;
  overflow-y: scroll;
}

.product-dummy {
  height: calc(35px + 2.5em);
}

.product-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 1em;
  padding: 0 0.5em;
  left: 0;
}/*# sourceMappingURL=main.css.map */