header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #111111;
  color: whitesmoke;
  padding: 1em;
}

.nav-location {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.nav-location .nav-location-title {
  font-weight: lighter;
}
.nav-location .nav-location-place {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
.nav-location .nav-location-place i {
  color: #e8b225;
}

.subheader {
  padding: 0 1em;
  height: 70px;
  color: whitesmoke;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** 
* scrollbars mixin
 * @param  {size}                Scrollbar handler width & height
 * @param  {foreground-color}    Scrollbar foreground color
 * @param  {background-color}    Scrollbar background color
* 
* @example - @include scrollbars(10px, pink, red);
*/
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
}

h2 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  font-size: 1.4em;
}

h3 {
  margin: 0.6em 0 0.4em 0;
}

body {
  height: 100vh;
  overflow: hidden;
}

.App {
  position: relative;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
}

main {
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 0 0.5em;
  background-color: #eeeeee;
  border-radius: 40px 40px 0 0;
  max-height: calc(100vh - 70px);
  position: absolute;
  bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  width: 100%;
  overflow-x: auto;
}
.categories-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.categories-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.categories-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.categories-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}

.content-wrapper {
  overflow: hidden;
  overflow-y: scroll;
  padding: 0.5em;
}
.content-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.content-wrapper::-webkit-scrollbar-thumb {
  background: #e8b225;
}
.content-wrapper::-webkit-scrollbar-track {
  background: #f4d992;
}
.content-wrapper {
  scrollbar-face-color: #e8b225;
  scrollbar-track-color: #f4d992;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: whitesmoke;
}
button.menu {
  border-radius: 50%;
  background-color: #2a2a2a;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
}
button.btn-add {
  border-radius: 50%;
  background-color: #e8b225;
  width: 35px;
  height: 35px;
  font-size: 1.4em;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  padding: 0.7em;
  gap: 1em;
}
.product-card img {
  width: 120px;
  border-radius: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card-body .card-main {
  flex-grow: 1;
}
.card-body .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-body .card-cost {
  font-weight: bold;
  font-size: 1.3em;
}

.type-span {
  background-color: #f3ecdc;
  border-radius: 10px;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

.card-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 0.8em;
  font-weight: bolder;
}
.card-cat .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.card-cat img {
  width: 100%;
}

.cart {
  width: 100%;
  color: rgb(19, 19, 19);
  padding: 0 0.5em;
  background-color: #eeeeee;
  border-radius: 40px 40px 0 0;
  min-height: calc(100vh - 70px);
  overflow: hidden;
  position: fixed;
  top: 70px;
  left: 0;
  transition: top 0.3s ease-in-out;
}
.cart.hidden {
  top: 100vh;
}/*# sourceMappingURL=main.css.map */